spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: bayala.m.olivier@gmail.com
    password: jppm ygri yeke vyoh # ⚠️ mot de passe d’application Gmail
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    default-encoding: UTF-8
  datasource:
    url: jdbc:postgresql://localhost/db-delaala
    username: postgres
    password: test
  jpa:
    database-platform: org.hibernate.dialect.PosgreSQLInnoDBDialect
    generate-ddl: true
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        globally_quoted_identifiers: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  servlet:
    multipart:
      enabled: true
      max-file-size: 1000MB
      max-request-size: 1000MB
  mvc:
    async:
      request-timeout: 3600000
server:
  address: 0.0.0.0   # Écoute sur toutes les interfaces réseau (pas seulement localhost)
  port: 8080         # Port de ton application (tu peux le changer si besoin)
management:
  endpoints:
    web:
      exposure:
        include: "*" 